/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text:#ffff;
	--color-subtext: #b3b3b3;
    --description: #a7a7a7;
	--background-base: #121212;
	--color-selection-1: #2c2b2b;
	--color-selection-2: #171717;
    --color-green: #1ed760;
    --featured-list: hsla(0,0%,100%,.1);
    --featured-list-hover: hsla(0,0%,100%,.2);
    --block-list: #181818;
    --block-list-hover: #282828;
    --item-size: 4em;
    --box-shadow: 0 0.5em 1.5em rgba(0,0,0,.5);
}

@media (prefers-color-scheme:light) {
:root {
	/* Light theme */
	--color-text:#00000;
	--color-subtext: #b3b3b3;
    --description: #2c2b2b;
	--background-base: #ececec;
	--color-selection-1: #2c2b2b;
	--color-selection-2: #171717;
    --color-green: #1ed760;
    --featured-list: #ffffff;
    --featured-list-hover: hsla(141, 76%, 48%, 0.329);
    --block-list: #ffffff;
    --block-list-hover: hsla(141, 91%, 59%, 0.712);
    --item-size: 4em;
    --box-shadow: 0 0.5em 1.5em rgba(0,0,0,.5);
    }
}


/****************/
/* JOUW STYLING */
/****************/

body {
	width: 25em;
	align-content: center;
	background-color: var(--background-base);
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    position: relative;

}

p {
    font-size: 1em;
    position: relative;
}

main {
	display: block;
}

ul, li {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
    color: var(--color-text);
}

p a::before, h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .15em;
    bottom: 0;
    left: 0;
    background-color: currentcolor;
    border-radius: .125em;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s;
}

p a:hover::before, h2:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

.section-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* =========================== Home Page =========================== */
.home-page section {
    margin-bottom: 1.875em;
}

.home-page .play-button {
    border-radius: 4em;
    height: 4em;
    width: 4em;
    background-color: var(--color-green);
    border: 0 solid transparent;
    margin-right: 1.5em;
    visibility: hidden;
}

.home-page li:hover .play-button{
    visibility: visible;
}

/* =========== Featured Playlists =========== */
.home-page section:nth-of-type(1) ul:nth-of-type(1) li div { 
    display: flex;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.home-page section:nth-of-type(1) ul, li {
    display: grid;
    grid-gap: 0.5em;
}

.home-page section:nth-of-type(1) img {
    height: auto;
    border-radius: 0.25em 0em 0em 0.25em;
}

.home-page section:nth-of-type(1) a {
    display: flex;
    align-items: center;
    overflow: hidden; /* Zorgt ervoor dat de schaduw niet buiten het kader doorloopt */
}

.home-page section:nth-of-type(1) p {
    padding: 0em 1em;
    font-weight: 600;
}

.home-page section:nth-of-type(1) ul:nth-of-type(1) li {
    background-color: var(--featured-list);
    border-radius: 0.25em;
    height: var(--item-size);
    transition: background-color .3s ease; /* Voor een vloeiende ease in en out transitie wanneer je hovert (en zodat het niet in 1x uit gaat wanneer je weg hovert) */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-page section:nth-of-type(1) ul:nth-of-type(1) li:hover {
    background-color: var(--featured-list-hover);
}

.home-page ul:nth-of-type(1) img {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* fix dit zodat de h2 niet een te brede underline krijgt */
.home-page section:nth-of-type(1) ul:nth-of-type(1) li div { 
    height: var(--item-size);
    width: var(--item-size);
}

/* =========== Made for User List =========== */

.home-page section:nth-of-type(2) ul:nth-of-type(1) img {
    height: 10em;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.home-page section:nth-of-type(2) > ul:nth-of-type(1) {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
}


.home-page section:nth-of-type(2) ul:nth-of-type(1) li {
    background-color: var(--block-list);
    display: flex;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    padding: 1em;
    height: 100%;
    transition: background-color .3s ease; /* Voor een vloeiende ease in en out transitie wanneer je hovert (en zodat het niet in 1x uit gaat wanneer je weg hovert) */
}

.home-page section:nth-of-type(2) li h3 {
    margin: 0 0 0.5em 0;
}

.home-page section:nth-of-type(2) li p {
    font-size: 0.875em;
    margin: 0;
    text-align: left;
    font-weight: 400;
    color: var(--description, #6a6a6a);
}

.home-page section:nth-of-type(2) ul:nth-of-type(1) li:hover {
    background-color: var(--block-list-hover);
}

/* =========== Form =========== */



/* =========================== Profile Page =========================== */

/* =========== User Profile Header =========== */
.profile-page section:nth-of-type(1) {
    background-color: rgb(96, 72, 136);
}

.profile-page section:nth-of-type(1) article {
    background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
}

.profile-page section:nth-of-type(1) article > div:nth-of-type(1) {
    padding: 4.5em 1em 1em;
}

.profile-page section:nth-of-type(1) article > div:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    gap:.5em;
}

.profile-page section:nth-of-type(1) img {
    height: 9em;
    width: 9em;
    border-radius: 50%;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}
.profile-page section:nth-of-type(1) h1 {
    font-size: 1.7em;
    font-weight: 1000;
    margin: 0;
}

.profile-page section:nth-of-type(1) p {
    font-size: .9em;
    margin-right: .25em;
}

.profile-page section:nth-of-type(1) article > div:nth-of-type(1) div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

/* =========== Top Artists Month =========== */
.profile-page section:nth-of-type(2) {
    background-color: rgb(96, 72, 136);
}

.profile-page section:nth-of-type(2) h3 {
    font-size: .8em;
    margin-bottom: .5em;
}

.profile-page section:nth-of-type(2) p {
    font-size: .7em;
    margin: 0;
    color: var(--color-subtext);
}

.profile-page section:nth-of-type(2) > div:nth-of-type(1) {
    background: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%);
    padding: 2em .5em .5em;
}

.profile-page section:nth-of-type(2) > div:nth-of-type(1) ul {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Voor Firefox om de scrollbar te verbergen */
    -ms-overflow-style: none; /* Voor Edge om de scrollbar te verbergen */
}

/* Scrollbar in Chrome verbergen */
.profile-page section:nth-of-type(2) > div:nth-of-type(1) ul::-webkit-scrollbar {
    display: none;
}

.profile-page section:nth-of-type(2) > div:nth-of-type(1) ul li{
    padding: 1em;
    margin: 0 .5em;
    border-radius: .5em;
    background-color: var(--block-list);
    transition: background-color .3s ease;
}

.profile-page section:nth-of-type(2) > div:nth-of-type(1) ul li:hover {
    background-color: var(--block-list-hover);
}

.profile-page section:nth-of-type(2) > div:nth-of-type(1) ul li img{
    border-radius: 50%;
    height: 7em;
    width: 7em;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

/* =========== Top tracks this month =========== */
.profile-page section:nth-of-type(3) li {
    display: grid;
    width: 100%;
    grid-template-columns: [index] 1em [first] 4fr [var1] 2fr [last] minmax(1em,1fr);
    border-radius: .25em;
    border: .5em solid transparent;
    transition: background-color .3s ease;
    position: relative;
}

.profile-page section:nth-of-type(3) li:hover {
    background-color: var(--block-list-hover);
}
/* Track number */
.profile-page section:nth-of-type(3) li > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.profile-page section:nth-of-type(3) li > div:nth-of-type(1) p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.profile-page section:nth-of-type(3) li:hover > div:nth-of-type(1) p {
    color: transparent;
}

.profile-page section:nth-of-type(3) li .play {
    display: none;
    position: absolute;
    color: var(--color-text);
    font-size: 1.25em;
    cursor: pointer;
    top: 0.3em;
}

.profile-page section:nth-of-type(3) li:hover .play {
    display: block;
}


/* Track image */
.profile-page section:nth-of-type(3) li div:nth-of-type(2) img {
    width: 2.25em;
    height: 2.25em;
    margin-right: 1em;
}

.profile-page section:nth-of-type(3) li p {
    font-size: .7em;
    margin: 0;
}

/* Track name */
.profile-page section:nth-of-type(3) li div:nth-of-type(2) .song-title {
    font-size: .8em;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
}
/* =========== Footer =========== */
footer {
    position: fixed;
    bottom: 0;
}

footer section:nth-of-type(1) {
    width: 100%;
    background-color: red;
}

footer section:nth-of-type(1) img {
    width: 2.5em;
    height: 2.5em;
}

footer nav a{
    fill: var(--color-text);
}